<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sulga.yooiitable">

    <!-- 6.0에서 위험 권한은 표시 및 원인 작성 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 위험 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 위험 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 위험 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/> <!-- 위험, UserNameFactory -->
    <uses-permission android:name="android.permission.READ_PROFILE"/> <!-- UserNameFactory -->

    <application
        android:name=".TimeTableApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_f3"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        
        <activity
            android:name="com.sulga.yooiitable.splashscreen.YTSplashScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sulga.yooiitable.timetable.TimetableActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|locale|layoutDirection"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name=".timetableinfo.TimetableSettingInfoActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.sulga.yooiitable.timetable.TimetableActivity"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|locale|layoutDirection"
            android:theme="@style/Theme.AppCompat" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sulga.yooiitable.timetable.TimetableActivity" />
        </activity>

        <receiver android:name="com.sulga.yooiitable.alarm.YTAlarmNotificationReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.sulga.yooiitable.alarm.YTAlarmNotificationOnReboot"
            android:enabled="true"
            android:exported="true"
            android:label="StartMyServiceAtBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.sulga.yooiitable.alarm.YTAlarmDialogPopUpActivity"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|locale|layoutDirection"
            android:theme="@style/Theme.AppCompat.Dialog" >
        </activity>
        <activity
            android:name="com.sulga.yooiitable.showalltables.ShowAllTimetablesActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.sulga.yooiitable.timetable.TimetableActivity"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|locale|layoutDirection"
            android:theme="@style/Theme.AppCompat" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sulga.yooiitable.timetable.TimetableActivity" />
        </activity>
        <activity
            android:name="com.sulga.yooiitable.overlapviewer.OverlapTablesViewerActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.sulga.yooiitable.timetable.TimetableActivity"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|locale|layoutDirection"
            android:theme="@style/Theme.AppCompat" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sulga.yooiitable.timetable.TimetableActivity" />
        </activity>
        <activity
            android:name="com.sulga.yooiitable.timetableinfo.activity.CreditsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".timetableinfo.TimetableSettingInfoActivity"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|locale|layoutDirection"
            android:theme="@style/Theme.AppCompat" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".timetableinfo.TimetableSettingInfoActivity" />
        </activity>
        <activity
            android:name="com.sulga.yooiitable.timetableinfo.activity.LicenseActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".timetableinfo.TimetableSettingInfoActivity"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|locale|layoutDirection"
            android:theme="@style/Theme.AppCompat" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".timetableinfo.TimetableSettingInfoActivity" />
        </activity>
        <activity
            android:name="com.sulga.yooiitable.timetableinfo.activity.YTInfoActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".timetableinfo.TimetableSettingInfoActivity"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|locale|layoutDirection"
            android:theme="@style/Theme.AppCompat" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".timetableinfo.TimetableSettingInfoActivity"/>
        </activity>
        <activity
            android:name="com.sulga.yooiitable.timetableinfo.activity.StoreActivity"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|locale|layoutDirection"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.sulga.yooiitable.timetableinfo.activity.NaverStoreActivity"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|locale|layoutDirection"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name="com.sulga.yooiitable.appwidget.YTAppWidgetConfigure" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <receiver android:name="com.sulga.yooiitable.appwidget.YTAppWidgetProvider_2x4" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.sulga.yooiitable.YT_ACTION_TIMETABLE_DATA_CHANGED_2x4" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_2x4_info_yooiitable" />
        </receiver>
        <receiver android:name="com.sulga.yooiitable.appwidget.YTAppWidgetProvider_4x4" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.sulga.yooiitable.YT_ACTION_TIMETABLE_DATA_CHANGED_4x4" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_4x4_info_yooiitable" />
        </receiver>
    </application>

</manifest>